<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.39%</string>
			<key>avg5</key>
			<real>3170.4</real>
			<key>avg20</key>
			<real>3407.85</real>
			<key>low_px</key>
			<real>3178.9</real>
			<key>total_value_trade</key>
			<real>299581090523.1</real>
			<key>avg10</key>
			<real>3146.79</real>
			<key>date</key>
			<string>2015/09/10</string>
			<key>pre_close_px</key>
			<real>3243.09</real>
			<key>open_px</key>
			<real>3190.55</real>
			<key>close_px</key>
			<real>3197.89</real>
			<key>total_volume_trade</key>
			<integer>27326175900</integer>
			<key>high_px</key>
			<real>3243.28</real>
			<key>rise_and_fall_value</key>
			<real>-45.2</real>
			<key>date_week</key>
			<string>2015/09/10 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.07%</string>
			<key>avg5</key>
			<real>3178.42</real>
			<key>avg20</key>
			<real>3373.54</real>
			<key>low_px</key>
			<real>3163.45</real>
			<key>total_value_trade</key>
			<real>252769467177.9</real>
			<key>avg10</key>
			<real>3174.08</real>
			<key>date</key>
			<string>2015/09/11</string>
			<key>pre_close_px</key>
			<real>3197.89</real>
			<key>open_px</key>
			<real>3189.48</real>
			<key>close_px</key>
			<real>3200.23</real>
			<key>total_volume_trade</key>
			<integer>22455782200</integer>
			<key>high_px</key>
			<real>3223.76</real>
			<key>rise_and_fall_value</key>
			<real>2.34</real>
			<key>date_week</key>
			<string>2015/09/11 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-2.67%</string>
			<key>avg5</key>
			<real>3185.29</real>
			<key>avg20</key>
			<real>3331.55</real>
			<key>low_px</key>
			<real>3049.23</real>
			<key>total_value_trade</key>
			<real>373576802406.9</real>
			<key>avg10</key>
			<real>3177.2</real>
			<key>date</key>
			<string>2015/09/14</string>
			<key>pre_close_px</key>
			<real>3200.23</real>
			<key>open_px</key>
			<real>3221.17</real>
			<key>close_px</key>
			<real>3114.8</real>
			<key>total_volume_trade</key>
			<integer>34663115800</integer>
			<key>high_px</key>
			<real>3229.48</real>
			<key>rise_and_fall_value</key>
			<real>-85.43000000000001</real>
			<key>date_week</key>
			<string>2015/09/14 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-3.52%</string>
			<key>avg5</key>
			<real>3152.24</real>
			<key>avg20</key>
			<real>3283.55</real>
			<key>low_px</key>
			<real>2983.92</real>
			<key>total_value_trade</key>
			<real>243904590422.5</real>
			<key>avg10</key>
			<real>3154.48</real>
			<key>date</key>
			<string>2015/09/15</string>
			<key>pre_close_px</key>
			<real>3114.8</real>
			<key>open_px</key>
			<real>3043.8</real>
			<key>close_px</key>
			<real>3005.17</real>
			<key>total_volume_trade</key>
			<integer>24919444500</integer>
			<key>high_px</key>
			<real>3081.7</real>
			<key>rise_and_fall_value</key>
			<real>-109.63</real>
			<key>date_week</key>
			<string>2015/09/15 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+4.89%</string>
			<key>avg5</key>
			<real>3134.07</real>
			<key>avg20</key>
			<real>3241.47</real>
			<key>low_px</key>
			<real>2983.54</real>
			<key>total_value_trade</key>
			<real>281992256964.4</real>
			<key>avg10</key>
			<real>3149.11</real>
			<key>date</key>
			<string>2015/09/16</string>
			<key>pre_close_px</key>
			<real>3005.17</real>
			<key>open_px</key>
			<real>2998.04</real>
			<key>close_px</key>
			<real>3152.26</real>
			<key>total_volume_trade</key>
			<integer>27752452400</integer>
			<key>high_px</key>
			<real>3182.93</real>
			<key>rise_and_fall_value</key>
			<real>147.09</real>
			<key>date_week</key>
			<string>2015/09/16 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-2.10%</string>
			<key>avg5</key>
			<real>3111.71</real>
			<key>avg20</key>
			<real>3208.37</real>
			<key>low_px</key>
			<real>3085.31</real>
			<key>total_value_trade</key>
			<real>337393270977.5</real>
			<key>avg10</key>
			<real>3141.05</real>
			<key>date</key>
			<string>2015/09/17</string>
			<key>pre_close_px</key>
			<real>3152.26</real>
			<key>open_px</key>
			<real>3131.98</real>
			<key>close_px</key>
			<real>3086.06</real>
			<key>total_volume_trade</key>
			<integer>31760289200</integer>
			<key>high_px</key>
			<real>3204.7</real>
			<key>rise_and_fall_value</key>
			<real>-66.2</real>
			<key>date_week</key>
			<string>2015/09/17 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.38%</string>
			<key>avg5</key>
			<real>3091.24</real>
			<key>avg20</key>
			<real>3173.56</real>
			<key>low_px</key>
			<real>3070.34</real>
			<key>total_value_trade</key>
			<real>218442429992.5</real>
			<key>avg10</key>
			<real>3134.83</real>
			<key>date</key>
			<string>2015/09/18</string>
			<key>pre_close_px</key>
			<real>3086.06</real>
			<key>open_px</key>
			<real>3100.28</real>
			<key>close_px</key>
			<real>3097.92</real>
			<key>total_volume_trade</key>
			<integer>20917539800</integer>
			<key>high_px</key>
			<real>3122.05</real>
			<key>rise_and_fall_value</key>
			<real>11.86</real>
			<key>date_week</key>
			<string>2015/09/18 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.89%</string>
			<key>avg5</key>
			<real>3099.59</real>
			<key>avg20</key>
			<real>3148.17</real>
			<key>low_px</key>
			<real>3060.86</real>
			<key>total_value_trade</key>
			<real>259796673583.9</real>
			<key>avg10</key>
			<real>3142.44</real>
			<key>date</key>
			<string>2015/09/21</string>
			<key>pre_close_px</key>
			<real>3097.92</real>
			<key>open_px</key>
			<real>3072.09</real>
			<key>close_px</key>
			<real>3156.54</real>
			<key>total_volume_trade</key>
			<integer>23989735400</integer>
			<key>high_px</key>
			<real>3159.88</real>
			<key>rise_and_fall_value</key>
			<real>58.62</real>
			<key>date_week</key>
			<string>2015/09/21 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.92%</string>
			<key>avg5</key>
			<real>3135.68</real>
			<key>avg20</key>
			<real>3132.07</real>
			<key>low_px</key>
			<real>3152.48</real>
			<key>total_value_trade</key>
			<real>305071324499.6</real>
			<key>avg10</key>
			<real>3143.96</real>
			<key>date</key>
			<string>2015/09/22</string>
			<key>pre_close_px</key>
			<real>3156.54</real>
			<key>open_px</key>
			<real>3161.32</real>
			<key>close_px</key>
			<real>3185.62</real>
			<key>total_volume_trade</key>
			<integer>27478615400</integer>
			<key>high_px</key>
			<real>3213.48</real>
			<key>rise_and_fall_value</key>
			<real>29.08</real>
			<key>date_week</key>
			<string>2015/09/22 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-2.19%</string>
			<key>avg5</key>
			<real>3128.41</real>
			<key>avg20</key>
			<real>3127.37</real>
			<key>low_px</key>
			<real>3104.74</real>
			<key>total_value_trade</key>
			<real>257560036032.2</real>
			<key>avg10</key>
			<real>3131.24</real>
			<key>date</key>
			<string>2015/09/23</string>
			<key>pre_close_px</key>
			<real>3185.62</real>
			<key>open_px</key>
			<real>3137.72</real>
			<key>close_px</key>
			<real>3115.89</real>
			<key>total_volume_trade</key>
			<integer>23632267000</integer>
			<key>high_px</key>
			<real>3164.04</real>
			<key>rise_and_fall_value</key>
			<real>-69.73</real>
			<key>date_week</key>
			<string>2015/09/23 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.86%</string>
			<key>avg5</key>
			<real>3139.73</real>
			<key>avg20</key>
			<real>3136.25</real>
			<key>low_px</key>
			<real>3109.69</real>
			<key>total_value_trade</key>
			<real>231369054766.7</real>
			<key>avg10</key>
			<real>3125.72</real>
			<key>date</key>
			<string>2015/09/24</string>
			<key>pre_close_px</key>
			<real>3115.89</real>
			<key>open_px</key>
			<real>3126.49</real>
			<key>close_px</key>
			<real>3142.69</real>
			<key>total_volume_trade</key>
			<integer>21288772300</integer>
			<key>high_px</key>
			<real>3151.16</real>
			<key>rise_and_fall_value</key>
			<real>26.8</real>
			<key>date_week</key>
			<string>2015/09/24 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.60%</string>
			<key>avg5</key>
			<real>3138.62</real>
			<key>avg20</key>
			<real>3144.51</real>
			<key>low_px</key>
			<real>3062.99</real>
			<key>total_value_trade</key>
			<real>248971120664</real>
			<key>avg10</key>
			<real>3114.93</real>
			<key>date</key>
			<string>2015/09/25</string>
			<key>pre_close_px</key>
			<real>3142.69</real>
			<key>open_px</key>
			<real>3130.85</real>
			<key>close_px</key>
			<real>3092.35</real>
			<key>total_volume_trade</key>
			<integer>23626387100</integer>
			<key>high_px</key>
			<real>3149.95</real>
			<key>rise_and_fall_value</key>
			<real>-50.34</real>
			<key>date_week</key>
			<string>2015/09/25 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.27%</string>
			<key>avg5</key>
			<real>3127.46</real>
			<key>avg20</key>
			<real>3145.37</real>
			<key>low_px</key>
			<real>3042.31</real>
			<key>total_value_trade</key>
			<real>166422394798</real>
			<key>avg10</key>
			<real>3113.53</real>
			<key>date</key>
			<string>2015/09/28</string>
			<key>pre_close_px</key>
			<real>3092.35</real>
			<key>open_px</key>
			<real>3085.57</real>
			<key>close_px</key>
			<real>3100.76</real>
			<key>total_volume_trade</key>
			<integer>15672753000</integer>
			<key>high_px</key>
			<real>3103.07</real>
			<key>rise_and_fall_value</key>
			<real>8.41</real>
			<key>date_week</key>
			<string>2015/09/28 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-2.02%</string>
			<key>avg5</key>
			<real>3097.96</real>
			<key>avg20</key>
			<real>3135.66</real>
			<key>low_px</key>
			<real>3021.16</real>
			<key>total_value_trade</key>
			<real>169686597162</real>
			<key>avg10</key>
			<real>3116.83</real>
			<key>date</key>
			<string>2015/09/29</string>
			<key>pre_close_px</key>
			<real>3100.76</real>
			<key>open_px</key>
			<real>3055.22</real>
			<key>close_px</key>
			<real>3038.14</real>
			<key>total_volume_trade</key>
			<integer>16322267300</integer>
			<key>high_px</key>
			<real>3068.3</real>
			<key>rise_and_fall_value</key>
			<real>-62.62</real>
			<key>date_week</key>
			<string>2015/09/29 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.48%</string>
			<key>avg5</key>
			<real>3085.34</real>
			<key>avg20</key>
			<real>3128</real>
			<key>low_px</key>
			<real>3039.74</real>
			<key>total_value_trade</key>
			<real>156569197540</real>
			<key>avg10</key>
			<real>3106.88</real>
			<key>date</key>
			<string>2015/09/30</string>
			<key>pre_close_px</key>
			<real>3038.14</real>
			<key>open_px</key>
			<real>3052.84</real>
			<key>close_px</key>
			<real>3052.78</real>
			<key>total_volume_trade</key>
			<integer>14664244900</integer>
			<key>high_px</key>
			<real>3073.3</real>
			<key>rise_and_fall_value</key>
			<real>14.64</real>
			<key>date_week</key>
			<string>2015/09/30 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+2.97%</string>
			<key>avg5</key>
			<real>3085.47</real>
			<key>avg20</key>
			<real>3126.84</real>
			<key>low_px</key>
			<real>3133.13</real>
			<key>total_value_trade</key>
			<real>258830338655.1</real>
			<key>avg10</key>
			<real>3112.61</real>
			<key>date</key>
			<string>2015/10/08</string>
			<key>pre_close_px</key>
			<real>3052.78</real>
			<key>open_px</key>
			<real>3156.07</real>
			<key>close_px</key>
			<real>3143.36</real>
			<key>total_volume_trade</key>
			<integer>23427605000</integer>
			<key>high_px</key>
			<real>3172.28</real>
			<key>rise_and_fall_value</key>
			<real>90.58</real>
			<key>date_week</key>
			<string>2015/10/08 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.27%</string>
			<key>avg5</key>
			<real>3103.63</real>
			<key>avg20</key>
			<real>3127.99</real>
			<key>low_px</key>
			<real>3137.79</real>
			<key>total_value_trade</key>
			<real>256379112141</real>
			<key>avg10</key>
			<real>3121.13</real>
			<key>date</key>
			<string>2015/10/09</string>
			<key>pre_close_px</key>
			<real>3143.36</real>
			<key>open_px</key>
			<real>3146.64</real>
			<key>close_px</key>
			<real>3183.15</real>
			<key>total_volume_trade</key>
			<integer>23485144500</integer>
			<key>high_px</key>
			<real>3192.72</real>
			<key>rise_and_fall_value</key>
			<real>39.79</real>
			<key>date_week</key>
			<string>2015/10/09 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+3.28%</string>
			<key>avg5</key>
			<real>3141.01</real>
			<key>avg20</key>
			<real>3138.35</real>
			<key>low_px</key>
			<real>3188.41</real>
			<key>total_value_trade</key>
			<real>435541019182</real>
			<key>avg10</key>
			<real>3134.24</real>
			<key>date</key>
			<string>2015/10/12</string>
			<key>pre_close_px</key>
			<real>3183.15</real>
			<key>open_px</key>
			<real>3193.54</real>
			<key>close_px</key>
			<real>3287.66</real>
			<key>total_volume_trade</key>
			<integer>38629471500</integer>
			<key>high_px</key>
			<real>3318.71</real>
			<key>rise_and_fall_value</key>
			<real>104.51</real>
			<key>date_week</key>
			<string>2015/10/12 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.17%</string>
			<key>avg5</key>
			<real>3192.03</real>
			<key>avg20</key>
			<real>3144.49</real>
			<key>low_px</key>
			<real>3253.25</real>
			<key>total_value_trade</key>
			<real>334806099305</real>
			<key>avg10</key>
			<real>3145</real>
			<key>date</key>
			<string>2015/10/13</string>
			<key>pre_close_px</key>
			<real>3287.66</real>
			<key>open_px</key>
			<real>3262.16</real>
			<key>close_px</key>
			<real>3293.23</real>
			<key>total_volume_trade</key>
			<integer>29715313300</integer>
			<key>high_px</key>
			<real>3298.63</real>
			<key>rise_and_fall_value</key>
			<real>5.57</real>
			<key>date_week</key>
			<string>2015/10/13 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.93%</string>
			<key>avg5</key>
			<real>3233.96</real>
			<key>avg20</key>
			<real>3145.46</real>
			<key>low_px</key>
			<real>3256.25</real>
			<key>total_value_trade</key>
			<real>330277519398</real>
			<key>avg10</key>
			<real>3159.66</real>
			<key>date</key>
			<string>2015/10/14</string>
			<key>pre_close_px</key>
			<real>3293.23</real>
			<key>open_px</key>
			<real>3280.02</real>
			<key>close_px</key>
			<real>3262.44</real>
			<key>total_volume_trade</key>
			<integer>29507773900</integer>
			<key>high_px</key>
			<real>3307.32</real>
			<key>rise_and_fall_value</key>
			<real>-30.79</real>
			<key>date_week</key>
			<string>2015/10/14 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+2.32%</string>
			<key>avg5</key>
			<real>3272.9</real>
			<key>avg20</key>
			<real>3152.47</real>
			<key>low_px</key>
			<real>3254.39</real>
			<key>total_value_trade</key>
			<real>362565554134</real>
			<key>avg10</key>
			<real>3179.2</real>
			<key>date</key>
			<string>2015/10/15</string>
			<key>pre_close_px</key>
			<real>3262.44</real>
			<key>open_px</key>
			<real>3255.03</real>
			<key>close_px</key>
			<real>3338.07</real>
			<key>total_volume_trade</key>
			<integer>31628385100</integer>
			<key>high_px</key>
			<real>3338.3</real>
			<key>rise_and_fall_value</key>
			<real>75.63</real>
			<key>date_week</key>
			<string>2015/10/15 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.60%</string>
			<key>avg5</key>
			<real>3314.54</real>
			<key>avg20</key>
			<real>3162.03</real>
			<key>low_px</key>
			<real>3334.85</real>
			<key>total_value_trade</key>
			<real>459447813308</real>
			<key>avg10</key>
			<real>3209.1</real>
			<key>date</key>
			<string>2015/10/16</string>
			<key>pre_close_px</key>
			<real>3338.07</real>
			<key>open_px</key>
			<real>3358.3</real>
			<key>close_px</key>
			<real>3391.35</real>
			<key>total_volume_trade</key>
			<integer>39546057500</integer>
			<key>high_px</key>
			<real>3393.02</real>
			<key>rise_and_fall_value</key>
			<real>53.28</real>
			<key>date_week</key>
			<string>2015/10/16 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.14%</string>
			<key>avg5</key>
			<real>3334.35</real>
			<key>avg20</key>
			<real>3175.62</real>
			<key>low_px</key>
			<real>3355.57</real>
			<key>total_value_trade</key>
			<real>453303626902</real>
			<key>avg10</key>
			<real>3237.69</real>
			<key>date</key>
			<string>2015/10/19</string>
			<key>pre_close_px</key>
			<real>3391.35</real>
			<key>open_px</key>
			<real>3401.63</real>
			<key>close_px</key>
			<real>3386.7</real>
			<key>total_volume_trade</key>
			<integer>37811218300</integer>
			<key>high_px</key>
			<real>3423.4</real>
			<key>rise_and_fall_value</key>
			<real>-4.65</real>
			<key>date_week</key>
			<string>2015/10/19 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.14%</string>
			<key>avg5</key>
			<real>3360.77</real>
			<key>avg20</key>
			<real>3196.63</real>
			<key>low_px</key>
			<real>3357.86</real>
			<key>total_value_trade</key>
			<real>383582515358</real>
			<key>avg10</key>
			<real>3276.41</real>
			<key>date</key>
			<string>2015/10/20</string>
			<key>pre_close_px</key>
			<real>3386.7</real>
			<key>open_px</key>
			<real>3377.55</real>
			<key>close_px</key>
			<real>3425.33</real>
			<key>total_volume_trade</key>
			<integer>31897375800</integer>
			<key>high_px</key>
			<real>3425.52</real>
			<key>rise_and_fall_value</key>
			<real>38.63</real>
			<key>date_week</key>
			<string>2015/10/20 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-3.06%</string>
			<key>avg5</key>
			<real>3372.42</real>
			<key>avg20</key>
			<real>3205.05</real>
			<key>low_px</key>
			<real>3265.44</real>
			<key>total_value_trade</key>
			<real>518509230404</real>
			<key>avg10</key>
			<real>3303.2</real>
			<key>date</key>
			<string>2015/10/21</string>
			<key>pre_close_px</key>
			<real>3425.33</real>
			<key>open_px</key>
			<real>3428.56</real>
			<key>close_px</key>
			<real>3320.68</real>
			<key>total_volume_trade</key>
			<integer>45845542800</integer>
			<key>high_px</key>
			<real>3447.26</real>
			<key>rise_and_fall_value</key>
			<real>-104.65</real>
			<key>date_week</key>
			<string>2015/10/21 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.45%</string>
			<key>avg5</key>
			<real>3378.55</real>
			<key>avg20</key>
			<real>3219.18</real>
			<key>low_px</key>
			<real>3282.99</real>
			<key>total_value_trade</key>
			<real>375452024664</real>
			<key>avg10</key>
			<real>3325.74</real>
			<key>date</key>
			<string>2015/10/22</string>
			<key>pre_close_px</key>
			<real>3320.68</real>
			<key>open_px</key>
			<real>3292.29</real>
			<key>close_px</key>
			<real>3368.74</real>
			<key>total_volume_trade</key>
			<integer>32373934100</integer>
			<key>high_px</key>
			<real>3373.78</real>
			<key>rise_and_fall_value</key>
			<real>48.06</real>
			<key>date_week</key>
			<string>2015/10/22 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.30%</string>
			<key>avg5</key>
			<real>3382.77</real>
			<key>avg20</key>
			<real>3234.91</real>
			<key>low_px</key>
			<real>3360.22</real>
			<key>total_value_trade</key>
			<real>425263086325</real>
			<key>avg10</key>
			<real>3348.67</real>
			<key>date</key>
			<string>2015/10/23</string>
			<key>pre_close_px</key>
			<real>3368.74</real>
			<key>open_px</key>
			<real>3377.55</real>
			<key>close_px</key>
			<real>3412.43</real>
			<key>total_volume_trade</key>
			<integer>34737285400</integer>
			<key>high_px</key>
			<real>3422.02</real>
			<key>rise_and_fall_value</key>
			<real>43.69</real>
			<key>date_week</key>
			<string>2015/10/23 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.50%</string>
			<key>avg5</key>
			<real>3391.35</real>
			<key>avg20</key>
			<real>3248.56</real>
			<key>low_px</key>
			<real>3402</real>
			<key>total_value_trade</key>
			<real>453942506416</real>
			<key>avg10</key>
			<real>3362.86</real>
			<key>date</key>
			<string>2015/10/26</string>
			<key>pre_close_px</key>
			<real>3412.43</real>
			<key>open_px</key>
			<real>3448.65</real>
			<key>close_px</key>
			<real>3429.58</real>
			<key>total_volume_trade</key>
			<integer>36556085300</integer>
			<key>high_px</key>
			<real>3457.52</real>
			<key>rise_and_fall_value</key>
			<real>17.15</real>
			<key>date_week</key>
			<string>2015/10/26 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.14%</string>
			<key>avg5</key>
			<real>3393.15</real>
			<key>avg20</key>
			<real>3261</real>
			<key>low_px</key>
			<real>3332.62</real>
			<key>total_value_trade</key>
			<real>408887226414</real>
			<key>avg10</key>
			<real>3376.97</real>
			<key>date</key>
			<string>2015/10/27</string>
			<key>pre_close_px</key>
			<real>3429.58</real>
			<key>open_px</key>
			<real>3409.14</real>
			<key>close_px</key>
			<real>3434.34</real>
			<key>total_volume_trade</key>
			<integer>32817276800</integer>
			<key>high_px</key>
			<real>3441.57</real>
			<key>rise_and_fall_value</key>
			<real>4.76</real>
			<key>date_week</key>
			<string>2015/10/27 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.72%</string>
			<key>avg5</key>
			<real>3404.05</real>
			<key>avg20</key>
			<real>3273.97</real>
			<key>low_px</key>
			<real>3367.23</real>
			<key>total_value_trade</key>
			<real>361656185764</real>
			<key>avg10</key>
			<real>3388.25</real>
			<key>date</key>
			<string>2015/10/28</string>
			<key>pre_close_px</key>
			<real>3434.34</real>
			<key>open_px</key>
			<real>3417.01</real>
			<key>close_px</key>
			<real>3375.2</real>
			<key>total_volume_trade</key>
			<integer>29352328400</integer>
			<key>high_px</key>
			<real>3439.76</real>
			<key>rise_and_fall_value</key>
			<real>-59.14</real>
			<key>date_week</key>
			<string>2015/10/28 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.36%</string>
			<key>avg5</key>
			<real>3407.76</real>
			<key>avg20</key>
			<real>3286.2</real>
			<key>low_px</key>
			<real>3362.51</real>
			<key>total_value_trade</key>
			<real>294508414230</real>
			<key>avg10</key>
			<real>3393.17</real>
			<key>date</key>
			<string>2015/10/29</string>
			<key>pre_close_px</key>
			<real>3375.2</real>
			<key>open_px</key>
			<real>3387.77</real>
			<key>close_px</key>
			<real>3387.32</real>
			<key>total_volume_trade</key>
			<integer>23567602600</integer>
			<key>high_px</key>
			<real>3411.71</real>
			<key>rise_and_fall_value</key>
			<real>12.12</real>
			<key>date_week</key>
			<string>2015/10/29 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.14%</string>
			<key>avg5</key>
			<real>3401.79</real>
			<key>avg20</key>
			<real>3300.71</real>
			<key>low_px</key>
			<real>3346.59</real>
			<key>total_value_trade</key>
			<real>307266773445</real>
			<key>avg10</key>
			<real>3392.29</real>
			<key>date</key>
			<string>2015/10/30</string>
			<key>pre_close_px</key>
			<real>3387.32</real>
			<key>open_px</key>
			<real>3380.28</real>
			<key>close_px</key>
			<real>3382.56</real>
			<key>total_volume_trade</key>
			<integer>24359511800</integer>
			<key>high_px</key>
			<real>3417.2</real>
			<key>rise_and_fall_value</key>
			<real>-4.76</real>
			<key>date_week</key>
			<string>2015/10/30 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.70%</string>
			<key>avg5</key>
			<real>3380.89</real>
			<key>avg20</key>
			<real>3311.93</real>
			<key>low_px</key>
			<real>3322.31</real>
			<key>total_value_trade</key>
			<real>286019328065</real>
			<key>avg10</key>
			<real>3386.13</real>
			<key>date</key>
			<string>2015/11/02</string>
			<key>pre_close_px</key>
			<real>3382.56</real>
			<key>open_px</key>
			<real>3337.58</real>
			<key>close_px</key>
			<real>3325.09</real>
			<key>total_volume_trade</key>
			<integer>23095112900</integer>
			<key>high_px</key>
			<real>3391.06</real>
			<key>rise_and_fall_value</key>
			<real>-57.47</real>
			<key>date_week</key>
			<string>2015/11/02 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.25%</string>
			<key>avg5</key>
			<real>3357.36</real>
			<key>avg20</key>
			<real>3325.86</real>
			<key>low_px</key>
			<real>3302.18</real>
			<key>total_value_trade</key>
			<real>244360566383</real>
			<key>avg10</key>
			<real>3375.27</real>
			<key>date</key>
			<string>2015/11/03</string>
			<key>pre_close_px</key>
			<real>3325.09</real>
			<key>open_px</key>
			<real>3330.32</real>
			<key>close_px</key>
			<real>3316.7</real>
			<key>total_volume_trade</key>
			<integer>19289742800</integer>
			<key>high_px</key>
			<real>3346.28</real>
			<key>rise_and_fall_value</key>
			<real>-8.390000000000001</real>
			<key>date_week</key>
			<string>2015/11/03 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+4.31%</string>
			<key>avg5</key>
			<real>3374.25</real>
			<key>avg20</key>
			<real>3346.2</real>
			<key>low_px</key>
			<real>3325.62</real>
			<key>total_value_trade</key>
			<real>426104385846</real>
			<key>avg10</key>
			<real>3389.17</real>
			<key>date</key>
			<string>2015/11/04</string>
			<key>pre_close_px</key>
			<real>3316.7</real>
			<key>open_px</key>
			<real>3325.62</real>
			<key>close_px</key>
			<real>3459.64</real>
			<key>total_volume_trade</key>
			<integer>33907873000</integer>
			<key>high_px</key>
			<real>3459.65</real>
			<key>rise_and_fall_value</key>
			<real>142.94</real>
			<key>date_week</key>
			<string>2015/11/04 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.83%</string>
			<key>avg5</key>
			<real>3401.35</real>
			<key>avg20</key>
			<real>3365.17</real>
			<key>low_px</key>
			<real>3455.53</real>
			<key>total_value_trade</key>
			<real>678674611498</real>
			<key>avg10</key>
			<real>3404.58</real>
			<key>date</key>
			<string>2015/11/05</string>
			<key>pre_close_px</key>
			<real>3459.64</real>
			<key>open_px</key>
			<real>3459.22</real>
			<key>close_px</key>
			<real>3522.82</real>
			<key>total_volume_trade</key>
			<integer>55325494700</integer>
			<key>high_px</key>
			<real>3585.66</real>
			<key>rise_and_fall_value</key>
			<real>63.18</real>
			<key>date_week</key>
			<string>2015/11/05 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.91%</string>
			<key>avg5</key>
			<real>3442.84</real>
			<key>avg20</key>
			<real>3385.51</real>
			<key>low_px</key>
			<real>3508.83</real>
			<key>total_value_trade</key>
			<real>543282200893</real>
			<key>avg10</key>
			<real>3422.34</real>
			<key>date</key>
			<string>2015/11/06</string>
			<key>pre_close_px</key>
			<real>3522.82</real>
			<key>open_px</key>
			<real>3514.44</real>
			<key>close_px</key>
			<real>3590.03</real>
			<key>total_volume_trade</key>
			<integer>42916703300</integer>
			<key>high_px</key>
			<real>3596.38</real>
			<key>rise_and_fall_value</key>
			<real>67.20999999999999</real>
			<key>date_week</key>
			<string>2015/11/06 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.58%</string>
			<key>avg5</key>
			<real>3507.2</real>
			<key>avg20</key>
			<real>3403.47</real>
			<key>low_px</key>
			<real>3588.5</real>
			<key>total_value_trade</key>
			<real>636184062178.9</real>
			<key>avg10</key>
			<real>3444.07</real>
			<key>date</key>
			<string>2015/11/09</string>
			<key>pre_close_px</key>
			<real>3590.03</real>
			<key>open_px</key>
			<real>3588.5</real>
			<key>close_px</key>
			<real>3646.88</real>
			<key>total_volume_trade</key>
			<integer>50301668200</integer>
			<key>high_px</key>
			<real>3673.76</real>
			<key>rise_and_fall_value</key>
			<real>56.85</real>
			<key>date_week</key>
			<string>2015/11/09 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.18%</string>
			<key>avg5</key>
			<real>3571.96</real>
			<key>avg20</key>
			<real>3420.83</real>
			<key>low_px</key>
			<real>3607.89</real>
			<key>total_value_trade</key>
			<real>560055120132.3</real>
			<key>avg10</key>
			<real>3464.68</real>
			<key>date</key>
			<string>2015/11/10</string>
			<key>pre_close_px</key>
			<real>3646.88</real>
			<key>open_px</key>
			<real>3617.4</real>
			<key>close_px</key>
			<real>3640.49</real>
			<key>total_volume_trade</key>
			<integer>42974657600</integer>
			<key>high_px</key>
			<real>3669.53</real>
			<key>rise_and_fall_value</key>
			<real>-6.39</real>
			<key>date_week</key>
			<string>2015/11/10 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.27%</string>
			<key>avg5</key>
			<real>3610.08</real>
			<key>avg20</key>
			<real>3440.22</real>
			<key>low_px</key>
			<real>3605.62</real>
			<key>total_value_trade</key>
			<real>467822205457.8</real>
			<key>avg10</key>
			<real>3492.19</real>
			<key>date</key>
			<string>2015/11/11</string>
			<key>pre_close_px</key>
			<real>3640.49</real>
			<key>open_px</key>
			<real>3635</real>
			<key>close_px</key>
			<real>3650.25</real>
			<key>total_volume_trade</key>
			<integer>36097265100</integer>
			<key>high_px</key>
			<real>3654.88</real>
			<key>rise_and_fall_value</key>
			<real>9.76</real>
			<key>date_week</key>
			<string>2015/11/11 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.48%</string>
			<key>avg5</key>
			<real>3632.1</real>
			<key>avg20</key>
			<real>3454.96</real>
			<key>low_px</key>
			<real>3603.23</real>
			<key>total_value_trade</key>
			<real>482832626444.5</real>
			<key>avg10</key>
			<real>3516.75</real>
			<key>date</key>
			<string>2015/11/12</string>
			<key>pre_close_px</key>
			<real>3650.25</real>
			<key>open_px</key>
			<real>3656.82</real>
			<key>close_px</key>
			<real>3632.9</real>
			<key>total_volume_trade</key>
			<integer>36171760000</integer>
			<key>high_px</key>
			<real>3659.31</real>
			<key>rise_and_fall_value</key>
			<real>-17.35</real>
			<key>date_week</key>
			<string>2015/11/12 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.43%</string>
			<key>avg5</key>
			<real>3630.26</real>
			<key>avg20</key>
			<real>3464.43</real>
			<key>low_px</key>
			<real>3564.81</real>
			<key>total_value_trade</key>
			<real>468668655554.2</real>
			<key>avg10</key>
			<real>3536.58</real>
			<key>date</key>
			<string>2015/11/13</string>
			<key>pre_close_px</key>
			<real>3632.9</real>
			<key>open_px</key>
			<real>3600.76</real>
			<key>close_px</key>
			<real>3580.84</real>
			<key>total_volume_trade</key>
			<integer>34587093300</integer>
			<key>high_px</key>
			<real>3632.56</real>
			<key>rise_and_fall_value</key>
			<real>-52.06</real>
			<key>date_week</key>
			<string>2015/11/13 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.73%</string>
			<key>avg5</key>
			<real>3622.28</real>
			<key>avg20</key>
			<real>3475.44</real>
			<key>low_px</key>
			<real>3519.42</real>
			<key>total_value_trade</key>
			<real>369421833778.2</real>
			<key>avg10</key>
			<real>3564.77</real>
			<key>date</key>
			<string>2015/11/16</string>
			<key>pre_close_px</key>
			<real>3580.84</real>
			<key>open_px</key>
			<real>3522.46</real>
			<key>close_px</key>
			<real>3606.96</real>
			<key>total_volume_trade</key>
			<integer>27618705700</integer>
			<key>high_px</key>
			<real>3607.61</real>
			<key>rise_and_fall_value</key>
			<real>26.12</real>
			<key>date_week</key>
			<string>2015/11/16 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.06%</string>
			<key>avg5</key>
			<real>3615.14</real>
			<key>avg20</key>
			<real>3484.41</real>
			<key>low_px</key>
			<real>3598.07</real>
			<key>total_value_trade</key>
			<real>521520359621</real>
			<key>avg10</key>
			<real>3593.58</real>
			<key>date</key>
			<string>2015/11/17</string>
			<key>pre_close_px</key>
			<real>3606.96</real>
			<key>open_px</key>
			<real>3629.98</real>
			<key>close_px</key>
			<real>3604.8</real>
			<key>total_volume_trade</key>
			<integer>38357546800</integer>
			<key>high_px</key>
			<real>3678.27</real>
			<key>rise_and_fall_value</key>
			<real>-2.16</real>
			<key>date_week</key>
			<string>2015/11/17 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.01%</string>
			<key>avg5</key>
			<real>3598.78</real>
			<key>avg20</key>
			<real>3496.8</real>
			<key>low_px</key>
			<real>3558.7</real>
			<key>total_value_trade</key>
			<real>392338754802</real>
			<key>avg10</key>
			<real>3604.46</real>
			<key>date</key>
			<string>2015/11/18</string>
			<key>pre_close_px</key>
			<real>3604.8</real>
			<key>open_px</key>
			<real>3605.06</real>
			<key>close_px</key>
			<real>3568.47</real>
			<key>total_volume_trade</key>
			<integer>29758073400</integer>
			<key>high_px</key>
			<real>3617.07</real>
			<key>rise_and_fall_value</key>
			<real>-36.33</real>
			<key>date_week</key>
			<string>2015/11/18 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.36%</string>
			<key>avg5</key>
			<real>3595.61</real>
			<key>avg20</key>
			<real>3509.22</real>
			<key>low_px</key>
			<real>3561.04</real>
			<key>total_value_trade</key>
			<real>328442613169</real>
			<key>avg10</key>
			<real>3613.88</real>
			<key>date</key>
			<string>2015/11/19</string>
			<key>pre_close_px</key>
			<real>3568.47</real>
			<key>open_px</key>
			<real>3573.78</real>
			<key>close_px</key>
			<real>3617.06</real>
			<key>total_volume_trade</key>
			<integer>24791557600</integer>
			<key>high_px</key>
			<real>3618.21</real>
			<key>rise_and_fall_value</key>
			<real>48.59</real>
			<key>date_week</key>
			<string>2015/11/19 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.37%</string>
			<key>avg5</key>
			<real>3605.54</real>
			<key>avg20</key>
			<real>3520.12</real>
			<key>low_px</key>
			<real>3607.91</real>
			<key>total_value_trade</key>
			<real>413910905746</real>
			<key>avg10</key>
			<real>3617.93</real>
			<key>date</key>
			<string>2015/11/20</string>
			<key>pre_close_px</key>
			<real>3617.06</real>
			<key>open_px</key>
			<real>3620.79</real>
			<key>close_px</key>
			<real>3630.5</real>
			<key>total_volume_trade</key>
			<integer>31080197200</integer>
			<key>high_px</key>
			<real>3640.53</real>
			<key>rise_and_fall_value</key>
			<real>13.44</real>
			<key>date_week</key>
			<string>2015/11/20 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.56%</string>
			<key>avg5</key>
			<real>3606.21</real>
			<key>avg20</key>
			<real>3529.16</real>
			<key>low_px</key>
			<real>3598.87</real>
			<key>total_value_trade</key>
			<real>414148234284.1</real>
			<key>avg10</key>
			<real>3614.27</real>
			<key>date</key>
			<string>2015/11/23</string>
			<key>pre_close_px</key>
			<real>3630.5</real>
			<key>open_px</key>
			<real>3630.87</real>
			<key>close_px</key>
			<real>3610.31</real>
			<key>total_volume_trade</key>
			<integer>31599747400</integer>
			<key>high_px</key>
			<real>3654.75</real>
			<key>rise_and_fall_value</key>
			<real>-20.19</real>
			<key>date_week</key>
			<string>2015/11/23 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.16%</string>
			<key>avg5</key>
			<real>3608.47</real>
			<key>avg20</key>
			<real>3538.25</real>
			<key>low_px</key>
			<real>3563.1</real>
			<key>total_value_trade</key>
			<real>327758498321.2</real>
			<key>avg10</key>
			<real>3611.83</real>
			<key>date</key>
			<string>2015/11/24</string>
			<key>pre_close_px</key>
			<real>3610.32</real>
			<key>open_px</key>
			<real>3602.89</real>
			<key>close_px</key>
			<real>3616.11</real>
			<key>total_volume_trade</key>
			<integer>24881052400</integer>
			<key>high_px</key>
			<real>3616.48</real>
			<key>rise_and_fall_value</key>
			<real>5.79</real>
			<key>date_week</key>
			<string>2015/11/24 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.88%</string>
			<key>avg5</key>
			<real>3624.36</real>
			<key>avg20</key>
			<real>3551.89</real>
			<key>low_px</key>
			<real>3607.52</real>
			<key>total_value_trade</key>
			<real>380802940005.5</real>
			<key>avg10</key>
			<real>3611.6</real>
			<key>date</key>
			<string>2015/11/25</string>
			<key>pre_close_px</key>
			<real>3616.11</real>
			<key>open_px</key>
			<real>3614.07</real>
			<key>close_px</key>
			<real>3647.93</real>
			<key>total_volume_trade</key>
			<integer>27302485700</integer>
			<key>high_px</key>
			<real>3648.37</real>
			<key>rise_and_fall_value</key>
			<real>31.82</real>
			<key>date_week</key>
			<string>2015/11/25 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-0.34%</string>
			<key>avg5</key>
			<real>3628.06</real>
			<key>avg20</key>
			<real>3564.3</real>
			<key>low_px</key>
			<real>3629.86</real>
			<key>total_value_trade</key>
			<real>426247412273.6</real>
			<key>avg10</key>
			<real>3611.87</real>
			<key>date</key>
			<string>2015/11/26</string>
			<key>pre_close_px</key>
			<real>3647.93</real>
			<key>open_px</key>
			<real>3659.57</real>
			<key>close_px</key>
			<real>3635.55</real>
			<key>total_volume_trade</key>
			<integer>30676158200</integer>
			<key>high_px</key>
			<real>3668.38</real>
			<key>rise_and_fall_value</key>
			<real>-12.38</real>
			<key>date_week</key>
			<string>2015/11/26 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-5.48%</string>
			<key>avg5</key>
			<real>3589.22</real>
			<key>avg20</key>
			<real>3566.99</real>
			<key>low_px</key>
			<real>3412.43</real>
			<key>total_value_trade</key>
			<real>464311247676.3</real>
			<key>avg10</key>
			<real>3597.42</real>
			<key>date</key>
			<string>2015/11/27</string>
			<key>pre_close_px</key>
			<real>3635.55</real>
			<key>open_px</key>
			<real>3616.54</real>
			<key>close_px</key>
			<real>3436.3</real>
			<key>total_volume_trade</key>
			<integer>35428752500</integer>
			<key>high_px</key>
			<real>3621.9</real>
			<key>rise_and_fall_value</key>
			<real>-199.25</real>
			<key>date_week</key>
			<string>2015/11/27 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.26%</string>
			<key>avg5</key>
			<real>3556.24</real>
			<key>avg20</key>
			<real>3573.01</real>
			<key>low_px</key>
			<real>3327.81</real>
			<key>total_value_trade</key>
			<real>387503652774.1</real>
			<key>avg10</key>
			<real>3581.26</real>
			<key>date</key>
			<string>2015/11/30</string>
			<key>pre_close_px</key>
			<real>3436.3</real>
			<key>open_px</key>
			<real>3433.86</real>
			<key>close_px</key>
			<real>3445.4</real>
			<key>total_volume_trade</key>
			<integer>30419790300</integer>
			<key>high_px</key>
			<real>3470.37</real>
			<key>rise_and_fall_value</key>
			<real>9.1</real>
			<key>date_week</key>
			<string>2015/11/30 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.32%</string>
			<key>avg5</key>
			<real>3524.28</real>
			<key>avg20</key>
			<real>3579.99</real>
			<key>low_px</key>
			<real>3417.55</real>
			<key>total_value_trade</key>
			<real>330256746807</real>
			<key>avg10</key>
			<real>3566.41</real>
			<key>date</key>
			<string>2015/12/01</string>
			<key>pre_close_px</key>
			<real>3445.4</real>
			<key>open_px</key>
			<real>3442.44</real>
			<key>close_px</key>
			<real>3456.31</real>
			<key>total_volume_trade</key>
			<integer>25239075500</integer>
			<key>high_px</key>
			<real>3483.41</real>
			<key>rise_and_fall_value</key>
			<real>10.91</real>
			<key>date_week</key>
			<string>2015/12/01 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+2.33%</string>
			<key>avg5</key>
			<real>3502.08</real>
			<key>avg20</key>
			<real>3583.85</real>
			<key>low_px</key>
			<real>3427.66</real>
			<key>total_value_trade</key>
			<real>369183037702</real>
			<key>avg10</key>
			<real>3563.25</real>
			<key>date</key>
			<string>2015/12/02</string>
			<key>pre_close_px</key>
			<real>3456.31</real>
			<key>open_px</key>
			<real>3450.28</real>
			<key>close_px</key>
			<real>3536.91</real>
			<key>total_volume_trade</key>
			<integer>30149148000</integer>
			<key>high_px</key>
			<real>3538.85</real>
			<key>rise_and_fall_value</key>
			<real>80.59999999999999</real>
			<key>date_week</key>
			<string>2015/12/02 星期三</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+1.35%</string>
			<key>avg5</key>
			<real>3491.93</real>
			<key>avg20</key>
			<real>3586.95</real>
			<key>low_px</key>
			<real>3517.23</real>
			<key>total_value_trade</key>
			<real>338859090634</real>
			<key>avg10</key>
			<real>3560.03</real>
			<key>date</key>
			<string>2015/12/03</string>
			<key>pre_close_px</key>
			<real>3536.91</real>
			<key>open_px</key>
			<real>3525.73</real>
			<key>close_px</key>
			<real>3584.82</real>
			<key>total_volume_trade</key>
			<integer>28111125500</integer>
			<key>high_px</key>
			<real>3591.73</real>
			<key>rise_and_fall_value</key>
			<real>47.91</real>
			<key>date_week</key>
			<string>2015/12/03 星期四</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.67%</string>
			<key>avg5</key>
			<real>3509.67</real>
			<key>avg20</key>
			<real>3583.7</real>
			<key>low_px</key>
			<real>3510.41</real>
			<key>total_value_trade</key>
			<real>319766835715</real>
			<key>avg10</key>
			<real>3549.48</real>
			<key>date</key>
			<string>2015/12/04</string>
			<key>pre_close_px</key>
			<real>3584.82</real>
			<key>open_px</key>
			<real>3558.15</real>
			<key>close_px</key>
			<real>3524.99</real>
			<key>total_volume_trade</key>
			<integer>25173641100</integer>
			<key>high_px</key>
			<real>3568.97</real>
			<key>rise_and_fall_value</key>
			<real>-59.83</real>
			<key>date_week</key>
			<string>2015/12/04 星期五</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.34%</string>
			<key>avg5</key>
			<real>3527.98</real>
			<key>avg20</key>
			<real>3578.2</real>
			<key>low_px</key>
			<real>3506.625</real>
			<key>total_value_trade</key>
			<real>280561587976</real>
			<key>avg10</key>
			<real>3542.14</real>
			<key>date</key>
			<string>2015/12/07</string>
			<key>pre_close_px</key>
			<real>3524.992</real>
			<key>open_px</key>
			<real>3529.806</real>
			<key>close_px</key>
			<real>3536.927</real>
			<key>total_volume_trade</key>
			<integer>20830257900</integer>
			<key>high_px</key>
			<real>3543.945</real>
			<key>rise_and_fall_value</key>
			<real>11.935</real>
			<key>date_week</key>
			<string>2015/12/07 星期一</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>-1.89%</string>
			<key>avg5</key>
			<real>3530.73</real>
			<key>avg20</key>
			<real>3569.68</real>
			<key>low_px</key>
			<real>3466.79</real>
			<key>total_value_trade</key>
			<real>297821727299</real>
			<key>avg10</key>
			<real>3527.54</real>
			<key>date</key>
			<string>2015/12/08</string>
			<key>pre_close_px</key>
			<real>3536.927</real>
			<key>open_px</key>
			<real>3518.648</real>
			<key>close_px</key>
			<real>3470.07</real>
			<key>total_volume_trade</key>
			<integer>22436731000</integer>
			<key>high_px</key>
			<real>3518.648</real>
			<key>rise_and_fall_value</key>
			<real>-66.857</real>
			<key>date_week</key>
			<string>2015/12/08 星期二</string>
		</dict>
		<dict>
			<key>rise_and_fall_rate</key>
			<string>+0.19%</string>
			<key>avg5</key>
			<real>3518.66</real>
			<key>avg20</key>
			<real>3561</real>
			<key>low_px</key>
			<real>3457.2295</real>
			<key>total_value_trade</key>
			<real>172029990989.8</real>
			<key>avg10</key>
			<real>3510.4</real>
			<key>date</key>
			<string>2015/12/09</string>
			<key>pre_close_px</key>
			<real>3470.0698</real>
			<key>open_px</key>
			<real>3462.5828</real>
			<key>close_px</key>
			<real>3476.5615</real>
			<key>total_volume_trade</key>
			<integer>12511411000</integer>
			<key>high_px</key>
			<real>3495.7017</real>
			<key>rise_and_fall_value</key>
			<real>6.4917</real>
			<key>date_week</key>
			<string>2015/12/09 星期三</string>
		</dict>
	</array>
</dict>
</plist>
